@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

body { background-color: lightgray; padding: 20px; }


.wi{
    float: right;
    font-size: 173%;
}

.city{
    display: block;
    min-width: 350px;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 15px;
}

.city, .forecast{
    display:block
}

.ui.card .city{
    float: left;
}

.ui .grid{
    margin-top: initial;
}

.ui .card{
    padding: 11px !important;
}

.ui.card .weatherIcon{
    float: right;
    margin-top: 3px;
    font-size: 26px;
}

.card{
    width: 100% !important;
}
 
 .tempSpan{
    float: right;
    margin-right: 12px;
    font-size: 177%;
    margin-top: 3px;
 }

.mySpinner{
    margin: 0 auto;
    display: inherit;
    width: 101px;
    margin-top: 100px;
}

.seaLevel:last-child {
  margin-bottom: 20px;
}

.ui.stackable.grid>.column:not(.row){
    padding-left: 21px !important;
}

.columnPressure:before{
    content: '';
    background-image: url('../assets/icons/pressure_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 17px;
    width: 15px;
    position: absolute;
    top: 17px;
    left: 0px;
}

.columnHumidity:before{
    content: '';
    background-image: url('../assets/icons/humidity_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 17px;
    width: 15px;
    position: absolute;
    top: 17px;
    left: 0px;
}

.columnSunrise:before{
    content: '';
    background-image: url('../assets/icons/sunrise_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 17px;
    width: 15px;
    position: absolute;
    top: 17px;
    left: 0px;
}

.columnSunset:before{
    content: '';
    background-image: url('../assets/icons/sunset_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 17px;
    width: 15px;
    position: absolute;
    top: 17px;
    left: 0px;
}
@media only screen and (max-width: 767px){
    .city {
      min-width: 100%;
    }
    .columnSunset{
        padding-left: 21px !important;
    }
    .ui.stackable.grid>.column:not(.row){
        padding-left: 21px !important;
    }
    .ui.cards>.card{
        margin-left: initial !important;
        margin-right: initial !important;
    }
    h1{
        font-size:1.4rem;
    }
}