


<div class="ui container">

	<img class="mySpinner" src="http://www.mvgen.com/loader.gif" ng-show="loading" />



	<div class="city" ng-repeat="city in cities track by $index">
		<div class="ui cards">
			<div class="card">
				<div class="content">
					<a>
						<i class="wi wi-owm-night-{{city.weather[0].id}}"></i>
						<span class="tempSpan">{{city.main.temp }} °C</span>
						
					</a> 
					<div class="header">
						<a href="#" ng-click="seaLevel(city)"> <h1>{{city.name}}</h1> </a>
					</div>
					<div class="meta">
						({{ city.weather[0].description | lowercase}})
					</div>
					 
					<div class="ui stackable four column grid">
						<div class="column description">Pressure : {{city.main.pressure }}</div>
						<div class="column description">Humidity : {{city.main.humidity }}</div>
						<div class="column description">Sunrise : {{city.sys.sunrise * 1000 | date:'h:mma' }}</div>
						<div class="column description">Sunset : {{city.sys.sunset * 1000 | date:'h:mma'}}</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="seaLevel" ng-show="selectedCity && city.id == selectedCity.id">
			<h3>{{selectedCity.name}} Sea Level - Time </h3>
				<canvas id="line" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas
			
		</div>
	</div>

 


</div>

 



 
