<div>
		<div class="forecast" ng-repeat="forecast in forecastList track by $index">
			<h1>{{city.name}}</h1>
			<p>Sea Level - {{forecast.main.sea_level}}</p>
			<p>Time - {{forecast.dt_txt}}</p>
		</div>	
</div>


